@font-face {
font-family: 'Macula Line';
font-style: normal;
font-weight: normal;
src: local('Macula Line'), url('../fonts/Macula Line.woff') format('woff');
}


@font-face {
font-family: 'Macula Solid';
font-style: normal;
font-weight: normal;
src: local('Macula Solid'), url('../fonts/Macula Solid.woff') format('woff');
}


@font-face {
font-family: 'Macula Shaded';
font-style: normal;
font-weight: normal;
src: local('Macula Shaded'), url('../fonts/Macula Shaded.woff') format('woff');
}


@font-face {
font-family: 'Macula Background';
font-style: normal;
font-weight: normal;
src: local('Macula Background'), url('../fonts/Macula Background.woff') format('woff');
}