@import "vars";
@import "global";
@import "fonts";

.calc {
  margin-top: 140px;
  margin-bottom: 140px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__main {
    max-width: 700px;
    width: 100%;
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    color: $blue;
    margin-bottom: 40px;
    margin-top: 40px;
    .calc__checkbox-info {
      bottom: 2em;
    }
  }
  &__TT {
    .calc__title {
      margin-top: 0;
    }
  }
  &__subtitle {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 40px;
  }
  &__task,
  &__design-radio {
    div {
      margin-bottom: 13px;
      position: relative;
      width: fit-content;
      &::after {
        position: absolute;
        left: -13px;
        top: -5px;
        content: "";
        width: calc(100% + 26px);
        height: calc(100% + 10px);
        background-color: #f1f1f1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
      }
      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    input {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      &:checked + label,
      &:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        font-size: 20px;
        line-height: 26px;
        display: inline-block;
      }
      &:checked + label::before,
      &:not(:checked) + label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        border: 2px solid $blue;
        border-radius: 100%;
        background: #fff;
      }
      &:checked + label::after,
      &:not(:checked) + label::after {
        content: "";
        width: 14px;
        height: 14px;
        background: $red;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        transition: all 0.4s ease;
      }
      &:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
      }
      &:checked + label:after {
        opacity: 1;
        transform: scale(1);
      }
    }
    label {
      display: block;
    }
  }
  &__type {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    &-input {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      &:checked + .calc__type-span {
        background-color: $red;
        border: 1px solid $red;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        span {
          color: #fff;
          font-weight: 700;
        }
      }
    }
    &-span {
      display: inline-block;
      background-color: #fff;
      border: 1px solid $blue;
      border-radius: 5px;
      padding: 6px 16px;
      text-align: center;
      font-size: 18px;
      color: $blue;
      font-weight: 400;
      transition: all 0.4s;
      &:hover {
        background-color: $red;
        border: 1px solid $red;
        color: #fff;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
      }
    }
    label {
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
  &__checkbox {
    position: relative;
    width: fit-content;
    max-width: 100%;
    margin-top: 13px;
    input {
      opacity: 0;
      visibility: hidden;
      position: absolute;
    }
    input:checked + label::after {
      content: "<";
      font-family: "Macula Solid";
      color: #fff;
      font-size: 20px;
      display: block;
      position: absolute;
      top: 2px;
      left: 5px;
      transform: rotate(-90deg);
    }
    input:checked + label::before {
      background-color: $red;
      border: 1.5px solid $red;
    }
    label {
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        background-color: transparent;
        border: 1.5px solid $blue;
        border-radius: 3px;
        padding: 10px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 7px;
        transition: all 0.4s;
      }
    }
    &::after {
      position: absolute;
      left: -13px;
      top: -5px;
      content: "";
      width: calc(100% + 26px);
      height: calc(100% + 10px);
      background-color: #f1f1f1;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;
    }
    &:hover {
      &::after {
        visibility: visible;
        opacity: 1;
      }
    }
    &Num {
      .calc__checkbox::after {
        width: calc(100% + 186px);
      }
    }
  }
  &__select {
    border: 1px solid $blue;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    color: $blue;
    &,
    & select {
      max-width: 460px;
      width: 100%;
      cursor: pointer;
    }
    & select {
      height: 34px;
      padding: 5px 0 5px 5px;
      background: transparent;
      color: $blue;
      font-size: 18px;
      border: none;
      -webkit-appearance: none;
    }
  }
  .calc__select-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    font-size: 20px;
    transform: rotate(-90deg) translate(80%);
    color: $blue;
    font-family: "Macula Solid";
  }
  select::-ms-expand {
    display: none;
  }
  _:-o-prefocus,
  .selector {
    .styled-select {
      background: none;
    }
  }
  &__design-radio {
    margin-bottom: 25px;
    div {
      display: inline-block;
      & + div {
        margin-left: 30px;
      }
    }
  }
}
.calc__checkboxNum {
  position: relative;
  .calc__checkbox {
    min-width: 142px;
  }
  &-width {
    .calc__checkbox {
      min-width: 516px;
    }
  }
  .calc__checkbox {
    display: inline-block;
    // margin-right: 23px;
    margin-right: 15px;
  }
}

.quantity {
  position: relative;
  display: inline-block;
  top: 5px;
  margin-right: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  font-size: 30px;
}

.quantity input {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  color: $blue;
  font-family: "Macula Solid";
  text-align: center;
  background-color: transparent;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  position: relative;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: none;
  text-align: center;
  color: $blue;
  font-size: 20px;
  transform: translateX(-100%);
  font-family: "Macula Solid";
  user-select: none;
  transition: all 0.4s;
  &:hover {
    color: $red;
  }
}

.quantity-button.quantity-up {
  position: absolute;
  bottom: 7px;
  right: -24px;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: 7px;
  left: 7px;
}

.calc__check {
  position: sticky;
  top: 140px;
  max-width: 350px;
  width: 100%;
  &-inner {
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
  }
  &-hole {
    background-color: #7e7e7e;
    border-radius: 3px;
    height: 17px;
    margin: 0 auto;
    margin-top: 5px;
  }
  &-list {
    background: linear-gradient(180deg, #a2a2a2 -9.96%, #939292 -1.34%, #d9d9d9 5.28%, #fbfbfb 11.23%, #ffffff 98.02%);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
    max-width: 332px;
    min-height: 300px;
    margin: 0 auto;
    color: #000;
    margin-top: -8px;
    padding: 67px 14px 25px 14px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 78px;
      box-shadow: 0px 27px 42px rgba(0, 0, 0, 0.25);
    }
    &__title {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    &__choose {
      font-size: 18px;
      &-inner {
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
        margin-top: 2px;
        border-top: 1px solid #d5d5d5;
        &:first-child {
          border-top: none;
          margin-top: none;
        }
      }
      .price {
        color: #878787;
        position: relative;
        padding-left: 14px;
        padding-right: 37px;
        &::before {
          position: absolute;
          left: 0;
          content: "=";
        }
        &::after {
          position: absolute;
          right: 0;
          content: "руб.";
        }
      }
    }
    &__line {
      background-color: $blue;
      width: 100%;
      height: 3px;
      margin-top: 65px;
      margin-bottom: 17px;
    }
    &__period {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        display: inline-block;
        font-size: 15px;
        color: #000c1b;
      }
      #period {
        color: $red;
        font-size: 18px;
        text-align: right;
        pointer-events: none;
        border: none;
        width: 90px;
        &::placeholder {
          color: $red;
          font-size: 18px;
          text-align: right;
        }
      }
    }
    &__total {
      p {
        font-size: 20px;
        color: #000c1b;
        font-weight: 700;
        margin: 0;
      }
      .totalAndLogo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 11px;
      }
      #total {
        font-size: 26px;
        font-weight: 700;
        color: $red;
        max-width: 170px;
        border: none;
        pointer-events: none;
        position: relative;
      }
      .logo {
        font-size: 35px;
        font-family: "Macula Solid";
        color: $blue;
        span {
          color: #efce4a;
        }
      }
    }
    button {
      border: none;
      background: none;
      background-color: $red;
      color: #fff;
      width: 100%;
      text-align: center;
      padding: 6px 20px;
      font-size: 18px;
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
      transition: background-color 0.4s;
      &:hover {
        background-color: $blue;
      }
    }
  }
}

.calc__checkbox + .calc__checkboxNum {
  margin: 0;
}

@import "media";
